<h1>Enter your amazing, awesome, exceptional new ideas!</h1>


<%= form_for(@i) do |f| %>
  <%= f.label :name, "Enter your name:)" %>
  <%= f.text_field :name %>
  <%= f.label :description, "Enter your idea" %>
  <%= f.text_field :description %>

  <%= f.submit %>
<% end %>
